<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>AuctionWhore: Bitches!</title>
    <%= stylesheet_link_tag :all, :cache => true %>
    <%= javascript_include_tag :all %>
  </head>
  <body>

    <div id="page">

      <div id="header">
        <h1><a href="/"><span>AuctionWhore</span></a></h1>
        <span id="logo_arrow"></span>
      </div>

      <div id="search">
        <%= render :partial => 'search/panel' %>
      </div>

      <div id="sidebar">

        <% if logged_in? %>
          <h3 class="account"><%= h current_user.login %></h3>
          <ul class="account_links">
            <li><%= link_to "Account", account_path %></li>
            <li><%= link_to "Upload Scan", new_scan_file_path %></li>
            <li><%= link_to "Logout", logout_path %></li>
          </ul>
        <% else %>
          <ul class="account_links">
            <li><%= link_to "Login", login_path %></li>
            <li><%= link_to "Signup", register_path %></li>
          </ul>
        <% end %>

        <h3>Get Started</h3>
        <ul class="links">
          <li><%= link_to "About", '/about' %></li>
          <li><%= link_to "Downloads", '#' %></li>
        </ul>

        <h3>Browse</h3>
        <ul class="links">
          <li><%= link_to "Items", items_path %></li>
          <li><%= link_to "Characters", characters_path %></li>
        </ul>

        <h3>Reports</h3>
        <ul class="links">
          <li><%= link_to "Most Sold Items", "/reports/top_items" %></li>
        </ul>

      </div>

      <div id="content">
        <%= f %>
        <%= yield %>
      </div>

      <div id="footer">&nbsp;</div>

      <script type="text/javascript"><!--
        google_ad_client = "pub-8273154908129247";
        /* 728x90, created 5/2/09 */
        google_ad_slot = "8744810822";
        google_ad_width = 728;
        google_ad_height = 90;
        //-->
      </script>
      <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>

    </div>

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-8658714-1");
      pageTracker._trackPageview();
    } catch(err) {}</script>

  </body>
</html>
